* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.25s;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--------------------------------------------------------CONTENEDOR DE TODAS LAS RUTAS----------------------------------------*/
.rutaDiv {
  display: flex;
  width: 100%;
  max-width: 1000px;
  min-height: calc(100vh - 2rem);
  align-items: center;
}

/*------------------------------------------------------------HEADER PRINCIPAL -----------------------------------------------*/
.header1 {
  width: 100%;
  height: 10rem;
  display: flex;
  margin-bottom: 10px;
}

.logo1 {
  margin: auto;
  width: 300px;
  height: 100px;
}

/*-------------------------------------------------------- SECCIÓN INICIO ---------------------------------------------------*/
.inicioDiv {
  background-image: url(Imagenes/Fondo1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #E6F2F4;
  top: 0px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 2rem);
  display: grid;
  grid-gap: 30px;
  grid-template-rows: 170px 300px 50px 50px 50px auto;
  grid-template-areas:
    "header1"
    "eslogan"
    "botonInicio"
    "botonRegistro"
    "botonGoogle";
}

.eslogan {
  grid-area: eslogan;
  position: relative;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.inicioDiv .botonInicio {
  grid-area: botonInicio;
  height: 60px;
  width: 80%;
  margin: 0 auto;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 30px;
  text-decoration: none;
  background: linear-gradient(#f2f2f2, #d8d8d8);
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #e4e4e4;
  text-align: center;
}

.inicioDiv .botonRegistro {
  grid-area: botonRegistro;
  height: 60px;
  width: 80%;
  margin: 0 auto;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 30px;
  text-decoration: none;
  background: linear-gradient(#f2f2f2, #d8d8d8);
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #e4e4e4;
  text-align: center;
}

.inicioDiv .botonGoogle {
  grid-area: botonGoogle;
  width: 80%;
  margin: 0 auto;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 18px 0px 18px 50px;
  text-decoration: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  background-color: transparent;
  background-image: url("./Imagenes/logoGoogle.png");
  background-position: 50px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

/*--------------------------------------------------- SECCIÓN INICIAR SESIÓN ---------------------------------------------------*/

.inicioSesionDiv {
  position: relative;
  background-image: url(Imagenes/Fondo2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-color: #E6F2F4;
  height: calc(100vh - 2rem);
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header1"
    "formulario";
}

.formulario {
  position: relative;
  background: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  margin: 0 auto;
  width: 90%;
  top: -180px;
  margin-top: 100px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "textoBienvenida"
    "inputCorreo"
    "inputPassword"
    "botonIngresar";
}

.inicioSesionDiv .textoBienvenida {
  grid-area: textoBienvenida;
  font-size: 23px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.inicioSesionDiv .inputCorreo {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

.inicioSesionDiv .inputPassword {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

.inicioSesionDiv .botonIngresar {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
}

/*--------------------------------------------------- SECCIÓN REGISTRAR CORREO ---------------------------------------------------*/

.registroCorreoDiv {
  position: relative;
  background-image: url(Imagenes/Fondo2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-color: #E6F2F4;
  height: calc(100vh - 2rem);
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header1"
    "formulario2";
}

.formulario2 {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  top: -80px;
  width: 90%;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "bienvenido"
    "textoRegistro"
    "nameNewUser"
    "mailNewUser"
    "passNewUser"
    "confirPass"
    "botonRegistrate"
    "textoPrivacidad";
}

.registroCorreoDiv .bienvenido {
  grid-area: bienvenido;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-top: 10px;
  font-weight: bold;
}

.registroCorreoDiv .textoRegistro {
  grid-area: textoRegistro;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  color: #2c3e50;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.registroCorreoDiv .nameNewUser {
  grid-area: nameNewUser;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .mailNewUser {
  grid-area: mailNewUser;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .passNewUser {
  grid-area: passNewUser;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .confirPass {
  grid-area: confirPass;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .botonRegistrate {
  grid-area: botonRegistrate;
  width: 80%;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
}

.registroCorreoDiv .textoPrivacidad {
  grid-area: textoPrivacidad;
  font-size: x-small;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

/*--------------------------------------------------- SECCIÓN FOTO PERFIL ---------------------------------------------------*/

.contenedorDiv {
  position: relative;
  background-image: url(Imagenes/Fondo2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-color: #E6F2F4;
  height: calc(100vh - 2rem);
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header1"
    "formulario3";
}

.formulario3 {
  background: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  top: -80px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "mensajeRegistro"
    "mensajeFotoPerfil"
    "divFotoPerfil"
    "botonExaminar"
    "botonFinalizar";
}

.contenedorDiv .mensajeRegistro {
  grid-area: mensajeRegistro;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: #2c3e50;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contenedorDiv .mensajeFotoPerfil {
  grid-area: mensajeFotoPerfil;
  font-size: large;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contenedorDiv .divFotoPerfil {
  grid-area: divFotoPerfil;
  width: 300px;
  height: 200px;
  margin-left: 10px;
}

.contenedorDiv .botonExaminar {
  grid-area: botonExaminar;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 30px;
  background: linear-gradient(#f2f2f2, #d8d8d8);
  text-decoration: none;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #f6f6f6;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.contenedorDiv .botonFinalizar {
  grid-area: botonFinalizar;
  width: 80%;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 16px 30px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
}




/*------------------------------------------------------------ PERFIL USUARIO ----------------------------------------------------*/
.perfilDiv {
    background-image: url(Imagenes/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    background-color: #E6F2F4;
    padding: 20px 30px;
    width: 100%;
    min-height: calc(100vh - 2rem);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "header"
      "containerPerfil";
    z-index: 1;
}

.containerPerfil{
  background-image: url(./Imagenes/FondoPerfil.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: #e6f2f483;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  position: relative;

  margin: 0 auto;
  width: 100%;
  top: -20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 300px 50px 50px 50px;
  grid-template-areas:
  "nombreUsuario"
  "fotoPerfil"
  "paisUsuario"
  "nivelTrackUsuario"
  "infoTrackUsuario"
}

.containerPerfil .nombreUsuario{
  display: grid;
  grid-area: nombreUsuario;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.containerPerfil .fotoPerfil{
  display: grid;
  grid-area: fotoPerfil;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #0a0a09;
  width: 100%;
  height: 200px;
  margin-top: 30px;
}

.containerPerfil .paisUsuario{
  display: grid;
  grid-area: paisUsuario;
  background-color:white;
  height: 40px;
  border: 1px solid #0a0a09;
  width: 100%;
  text-align: center;
}

.containerPerfil .nivelTrackUsuario{
  display: grid;
  grid-area: nivelTrackUsuario;
  background-color:white;
  height: 40px;
  border: 1px solid #0a0a09;
  width: 100%;
  text-align: center;
}

.containerPerfil .infoTrackUsuario{
  display: grid;
  grid-area: infoTrackUsuario;
  background-color:white;
  height: 40px;
  border: 1px solid #0a0a09;
  width: 100%;
  text-align: center;
}


/*------------------------------------------------------------HEADER HOME --------------------------------------------------------*/
.header2 {
  grid-area: header;
  position: relative;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-content: space-evenly;
  top: -10px;
  z-index: 3;
}

.despliegueMenu {
  background-color: transparent;
  z-index: 1;
  width: 80px;
  height: 70px;
  border-style: none;
}

.tresLineas {
  margin-top: 10px;
  width: 60px;
  height: 50px;
}

.menuHome {
  position: relative;
  display: flex;
  align-content: space-between;
  width: 150px;
  height: 150px;
  top: 0px;
  background-color: rgba(9, 31, 71, 0.932);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s ease-out;
  z-index: 2;
  border-style: none;
  border-radius: 20px;
  margin-left: 5px;
}

.menuHome.active {
  /*esta hace que salga abajo el input de la publicación*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
}

.opcionSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.logo2 {
  position: relative;
  margin-left: 145px;
  margin-right: 10px;
  width: 120px;
  height: 50px;
}

/*------------------------------------------------------------HEADER PERFIL --------------------------------------------------------*/
.header3 {
  grid-area: header;
  position: relative;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  align-content: space-evenly;
  top: -10px;
  z-index: 3;
}

.despliegueMenu2 {
  background-color: transparent;
  z-index: 1;
  width: 80px;
  height: 70px;
  border-style: none;
}

.tresLineas {
  margin-top: 10px;
  width: 60px;
  height: 50px;
}

.menuHome2 {
  position: relative;
  display: flex;
  align-content: space-between;
  width: 80px;
  height: 110px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.836);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s ease-out;
  z-index: 2;
  border-style: none;
}

.menuHome2.active {
  /*esta hace que salga abajo el input de la publicación*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
}

.opcionSection2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  color: white;
}

.logo3 {
  position: relative;
  margin-left: 145px;
  margin-right: 10px;
  width: 120px;
  height: 50px;
}

/*-------------------------------------------------------------- SECCIÓN HOME  --------------------------------------------------*/
.homeDiv {
  background-image: url(Imagenes/Fondo2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-color: #E6F2F4;
  padding: 20px 30px;
  min-height: calc(100vh - 2rem);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 60px 200px;
  grid-template-areas:
    "header          header"
    "buscadorHome    buscadorHome"
    "publicacionDiv  publicacionDiv";
  z-index: 1;
}

.buscadorDiv {
  grid-area: buscadorHome;
  position: relative;
  width: 80%;
  
  z-index: 1;
}

.buscadorHome {
  position: relative;
  margin: 0 auto;
  width: 109%;
  height: 50px;
  padding: 18px 15px;
  font-size: 10pt;
  color: #000000;
  background: #ffffff;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  z-index: 0;
}

.botonBuscarHome {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
  z-index: 2;
  margin-right: -70PX;
}

.imagenLupa {
  width: 30px;
  height: 30px;
}

.publicacionDiv {
  grid-area: publicacionDiv;
  display: grid;
  grid-template-rows: 30px 170px;
  grid-template-areas:
    "mensajePost   mensajePost"
    "botonPopUp    botonPopUp";
}

.mensajePost {
  grid-area: mensajePost;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 30px;
  font-size: large;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.botonPopUp {
  position: relative;
  grid-area: botonPopUp;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 100%;
  height: 170px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
}

.placeholder {
  color: gray;
}

.modalDiv {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.486);
}

.publicacionPopUp {
  background-color: #fefefe;
  margin: 50% auto;
  border: 1px solid #888;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 30px 200px 50px;
  grid-template-areas:
  "nombreUsuario nombreUsuario"
  "ubicacion dificultad"
  "equipo equipo"
  "textoPublicacion textoPublicacion"
  "fotoPublicacion botonPublicar";
}



.nombreUsuario {
  display: grid;
  grid-area: nombreUsuario;
  width: 100%;
  height: 30px;
  color: black;
}

.ubicacion {
  display: grid;
  grid-area: ubicacion;
  width: 100%;
  height: 30px;
  color: black;
  text-align: center;
}

.dificultad {
  display: grid;
  grid-area: dificultad;
  width: 100%;
  height: 30px;
  text-align: center;
}

.equipo {
  display: grid;
  grid-area: equipo;
  width: 100%;
  height: 30px;
  color: black;
  text-align: center;
}

.textoPublicacion {
  display: grid;
  grid-area: textoPublicacion;
  width: 100%;
  height: 200px;
  background: #ffffff;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
  color: black;
}

.fotoPublicacion {
  display: grid;
  grid-area: fotoPublicacion;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
}

.botonPublicar {
  display: grid;
  grid-area: botonPublicar;
  width: 100%;
  height: 50px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
/*-------------------------------------------------------------- FOOTER ----------------------------------------------------------*/

footer {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
