* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.25s;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/*------------------------------------------------------------HEADER---------------------------------------------------------*/
.header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-items: center;
}

.logo {
  margin: auto;
  width: 300px;
  height: 100px;
}
/*---------------------------------------------------------TERMINA HEADER-----------------------------------------------------*/

.eslogan {
  position: relative;
  text-align: center;
  bottom: -30px;
  width: 80%;
  margin: 0 auto;
}

/*--------------------------------------------------------CONTENEDOR DE TODAS LAS RUTAS----------------------------------------*/
.rutaDiv {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  align-items: center;
}

/*-------------------------------------------------------- SECCIÓN INICIO ---------------------------------------------------*/
.inicioDiv {
  position: relative;
  margin: 0 auto;
  width: 80%;
  top: 300px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "botonInicio"
    "botonRegistro"
    "botonGoogle";
}

.inicioDiv .botonInicio {
  grid-area: botonInicio;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 30px;
  text-decoration: none;
  background: linear-gradient(#f2f2f2, #d8d8d8);
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #e4e4e4;
  text-align: center;
}

.inicioDiv .botonRegistro {
  grid-area: botonRegistro;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 30px;
  text-decoration: none;
  background: linear-gradient(#f2f2f2, #d8d8d8);
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #e4e4e4;
  text-align: center;
}

.inicioDiv .botonGoogle {
  grid-area: botonGoogle;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 30px;
  text-decoration: none;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  background-color: transparent;
  background-image: url("./Imagenes/logoGoogle.png");
  background-position: 30px center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

/*--------------------------------------------------- SECCIÓN INICIAR SESIÓN ---------------------------------------------------*/

.inicioSesionDiv {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 0 10%;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  top: 120px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "textoBienvenida"
    "inputCorreo"
    "inputPassword"
    "botonIngresar";
}

.inicioSesionDiv .textoBienvenida {
  grid-area: textoBienvenida;
  font-size: 23px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.inicioSesionDiv .inputCorreo {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

.inicioSesionDiv .inputPassword {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

.inicioSesionDiv .botonIngresar {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
}

/*--------------------------------------------------- SECCIÓN REGISTRAR CORREO ---------------------------------------------------*/

.registroCorreoDiv {
  display: flex;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 0 10%;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bienvenido"
    "textoRegistro"
    "nameNewUser"
    "mailNewUser"
    "passNewUser"
    "confirPass"
    "botonRegistrate"
    "textoPrivacidad";
}

.registroCorreoDiv .bienvenido {
  grid-area: bienvenido;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-top: 10px; 
  font-weight: bold;
}

.registroCorreoDiv .textoRegistro {
  grid-area: textoRegistro;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  color: #2c3e50;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.registroCorreoDiv .nameNewUser {
  grid-area: nameNewUser;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .mailNewUser {
  grid-area: mailNewUser;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .passNewUser {
  grid-area: passNewUser;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .confirPass {
  grid-area: confirPass;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #13191f;
  font-size: 13px;
}

.registroCorreoDiv .botonRegistrate {
  grid-area: botonRegistrate;
  width: 80%;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
}

.registroCorreoDiv .textoPrivacidad {
  grid-area: textoPrivacidad;
  font-size: x-small;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

/*--------------------------------------------------- SECCIÓN FOTO PERFIL ---------------------------------------------------*/

.contenedorDiv {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  margin: 0 10%;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  top: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "mensajeRegistro"
    "mensajeFotoPerfil"
    "divFotoPerfil"
    "botonExaminar"
    "botonCargar"
    "botonFinalizar";
}

.contenedorDiv .mensajeRegistro {
  grid-area: mensajeRegistro;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: #2c3e50;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.contenedorDiv .mensajeFotoPerfil {
  grid-area: mensajeFotoPerfil;
  font-size: large;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contenedorDiv .divFotoPerfil {
  grid-area: divFotoPerfil;
  width: 300px;
  height: 200px;
  margin-left: 10px;
}

.contenedorDiv .botonExaminar {
  grid-area: botonExaminar;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  padding: 16px 30px;
  background: linear-gradient(#f2f2f2, #d8d8d8);
  text-decoration: none;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #f6f6f6;
  text-align: center;
  width: 40%;
  margin: 10px;
  margin-left: 15px;
  margin-right: 17px;
}

.contenedorDiv .botonCargar {
  grid-area: botonCargar;
  font-weight: bold;
  font-family: Arial;
  padding: 16px 30px;
  font-size: 15px;
  background: linear-gradient(#f2f2f2, #d8d8d8);
  text-decoration: none;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #f6f6f6;
  text-align: center;
  width: 40%;
  margin: 10px;
  margin-left: 15px;
}

.contenedorDiv .botonFinalizar {
  grid-area: botonFinalizar;
  width: 80%;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  margin: 0 auto;
}


/*-------------------------------------------------------------- HOME INICIO ----------------------------------------------------------*/

.bontonBuscarHome{
  background-color: red;
}










/*-------------------------------------------------------------- FOOTER ----------------------------------------------------------*/

footer {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
